# For local
tensorflow==2.10.0
mediapipe==0.10.11
opencv-python==4.10.0.84

# Additional Libraries
numpy==1.21.1
pandas==1.4.3
matplotlib==3.5.0
scikit-learn==0.24.2
seaborn==0.13.2
scipy==1.10.1
Pillow==9.3.0
gdown==5.2.0
